*.jou
*.log
*.wdb
*.vcd
*.pb
*.dcp
*.bit
*.bin
*.ltx
xsim.dir/
.xsim/
.Xil/
vivado_pid*.str
usage_statistics_webtalk.xml
webtalk.jou
webtalk.log
sim/*.pb
sim/*.wdb
sim/*.jou
sim/*.log
synth/work/
synth/project/
results_step13_fpga_soc_dbf_boundary/synth/work/
results_step13_fpga_soc_dbf_boundary/synth/*.dcp
results_step13_fpga_soc_dbf_boundary/synth/*.jou
results_step13_fpga_soc_dbf_boundary/synth/*.log
results_step13_fpga_soc_dbf_boundary/rtl_sim/*.wdb
results_step13_fpga_soc_dbf_boundary/rtl_sim/*.vcd
results_step13_fpga_soc_dbf_boundary/rtl_sim/xsim.dir/
results_step13_fpga_soc_dbf_boundary/rtl_fulln_sim/*.wdb
results_step13_fpga_soc_dbf_boundary/rtl_fulln_sim/*.vcd
results_step13_fpga_soc_dbf_boundary/rtl_fulln_sim/xsim.dir/
