*.jou
*.log
*.wdb
*.vcd
*.pb
*.dcp
*.bit
*.bin
*.ltx
*.xsa
*.hwh
*.xpr
*.bd
*.bxml

.Xil/
.cache/
.gen/
.hw/
.ip_user_files/
.runs/
.sim/
.srcs/
xsim.dir/
vivado_pid*.str
usage_statistics_webtalk.xml
webtalk.jou
webtalk.log

build/
vivado/project/
vivado/work/
vivado/reference_bd/work/
vivado/reference_bd/project/
vivado/reference_bd_timing/work/
vivado/work/step14_3a_reference_bd/
vivado/work/step14_3b_strategy_sweep/
vivado/work/step14_3b_timing_closure/
vivado/*.jou
vivado/*.log
results_step14_dbf_ip_soc_integration/vivado_work/
results_step14_dbf_ip_soc_integration/xsim_work/

ip_repo/**/.Xil/
ip_repo/**/*.xci
ip_repo/**/ip_user_files/
ip_repo/**/.cache/
ip_repo/**/.gen/
ip_repo/**/.runs/
ip_repo/**/.sim/

results_step14_dbf_ip_soc_integration/ip_xsim/*.wdb
results_step14_dbf_ip_soc_integration/ip_xsim/*.vcd
results_step14_dbf_ip_soc_integration/ip_xsim/xsim.dir/
results_step14_dbf_ip_soc_integration/ip_synth/*.dcp
results_step14_dbf_ip_soc_integration/ip_synth/*.jou
results_step14_dbf_ip_soc_integration/ip_synth/*.log
results_step14_dbf_ip_soc_integration/reference_bd/*.dcp
results_step14_dbf_ip_soc_integration/reference_bd/*.wdb
results_step14_dbf_ip_soc_integration/reference_bd/*.vcd
results_step14_dbf_ip_soc_integration/reference_bd_timing/*.dcp
results_step14_dbf_ip_soc_integration/reference_bd_timing/*.wdb
results_step14_dbf_ip_soc_integration/reference_bd_timing/*.vcd
results_step14_dbf_ip_soc_integration/reference_bd_timing/*.bit
results_step14_dbf_ip_soc_integration/reference_bd_timing/*.xsa
results_step14_dbf_ip_soc_integration/reference_bd_timing/*.hwh
results_step14_dbf_ip_soc_integration/reference_bd_timing/strategy_*_*.rpt
results_step14_dbf_ip_soc_integration/reference_bd_timing/step14_3b_clean_rerun_*.rpt
results_step14_dbf_ip_soc_integration/reference_bd_timing/step14_3b_baseline_drc.rpt
results_step14_dbf_ip_soc_integration/reference_bd_timing/step14_3b_baseline_methodology.rpt
results_step14_dbf_ip_soc_integration/reference_bd_timing/step14_3b_baseline_timing_paths.rpt
results_step14_dbf_ip_soc_integration/reference_bd_timing/step14_3b_baseline_utilization.rpt
