*.jou
*.log
*.wdb
*.vcd
*.pb
*.dcp
*.bit
*.bin
*.ltx
*.xsa
*.hwh
*.xpr

.Xil/
.cache/
.gen/
.hw/
.ip_user_files/
.runs/
.sim/
.srcs/
xsim.dir/
vivado_pid*.str
usage_statistics_webtalk.xml
webtalk.jou
webtalk.log

build/
vivado/project/
vivado/work/
vivado/*.jou
vivado/*.log
results_step14_dbf_ip_soc_integration/vivado_work/
results_step14_dbf_ip_soc_integration/xsim_work/

ip_repo/**/.Xil/
ip_repo/**/*.xci
ip_repo/**/ip_user_files/
ip_repo/**/.cache/
ip_repo/**/.gen/
ip_repo/**/.runs/
ip_repo/**/.sim/

results_step14_dbf_ip_soc_integration/ip_xsim/*.wdb
results_step14_dbf_ip_soc_integration/ip_xsim/*.vcd
results_step14_dbf_ip_soc_integration/ip_xsim/xsim.dir/
results_step14_dbf_ip_soc_integration/ip_synth/*.dcp
results_step14_dbf_ip_soc_integration/ip_synth/*.jou
results_step14_dbf_ip_soc_integration/ip_synth/*.log
