*.jou
*.log
*.wdb
*.vcd
*.pb
*.dcp
*.bit
*.bin
*.ltx
*.xsa
*.hwh
*.xpr

.Xil/
.cache/
.gen/
.hw/
.ip_user_files/
.runs/
.sim/
.srcs/
xsim.dir/
vivado_pid*.str
usage_statistics_webtalk.xml
webtalk.jou
webtalk.log

build/
vivado/project/
vivado/work/
results_step14_dbf_ip_soc_integration/vivado_work/
results_step14_dbf_ip_soc_integration/xsim_work/
